<p id="notice"><%= notice %></p>

<h1>Listing Fruta</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fruta.each do |frutum| %>
      <tr>
        <td><%= frutum.name %></td>
        <td><%= frutum.color %></td>
        <td><%= frutum.size %></td>
        <td><%= link_to 'Show', frutum %></td>
        <td><%= link_to 'Edit', edit_frutum_path(frutum) %></td>
        <td><%= link_to 'Destroy', frutum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frutum', new_frutum_path %>
